html {
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.arena {
    display: flex;
    height: 600px;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgb(108, 83, 52);
}
.antagonist,
.protagonist {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    margin: 100px;
}

.antagonist {
    border: 3px solid rgb(198, 0, 0);
}
.protagonist {
    border: 3px solid rgb(0, 171, 0);
}

.bullet {
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border: 3px solid rgb(162, 122, 0);
    transition: 0.5s;
}
.attack_button {
    width: 100px;
    height: 100px;
    background: linear-gradient(113deg, #F9804B 1.49%, #FE9013 101%);
    border-radius: 50px;
    border: none;
    margin-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: 0.3s;
}
.attack_button:hover {
    box-shadow: 0px 0px 10px 3px rgb(8, 227, 0);
}
.attack_button:active {
    transform: scale(0.95);
}
.hidden {
    visibility: hidden;
}