html {
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.arena {
    display: flex;
    height: 600px;
    width: 600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid rgb(108, 83, 52);
}
.antagonist,
.protagonist {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    margin: 100px;
}

.antagonist {
    border: 3px solid rgb(198, 0, 0);
}
.protagonist {
    border: 3px solid rgb(0, 171, 0);
}